<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <title>{% block title %}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1">

  <!-- vendor -->
  <link rel="stylesheet" type="text/css" href="{% static 'pages/css/normalize.css' %}">
  {% block vendor %}{% endblock %}
  <!-- my sheet -->
  <link rel="stylesheet" type="text/css" href="{% static 'pages/css/style.css' %}">
</head>

<body>
  <header>
    <h1>Codemancer</h1>
    <ul class='header-nav'>
      <li>List Snips</li>
      <li>User</li>
      <li>About</li>
    </ul>
  </header>

  <div class='side-nav'>
    <ul>
      <li>tags</li>
      <li>tags</li>
      <li>tags</li>
      <li>tags</li>
      <li>tags</li>
      <li>tags</li>
    </ul>
  </div><!-- side-nav -->

  {% block first_block %}
  {% endblock %}

  {% block second_block %}
  {% endblock %}

</body>

  <!-- vendor -->
  <script
  src="http://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <!-- my sheet -->

</html>
