<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <title>{% block title %}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1">

  <!-- vendor -->
  <link rel="stylesheet" type="text/css" href="{% static 'pages/css/normalize.css' %}">
  {% block vendor %}{% endblock %}
  <!-- my sheet -->
  {% block my_style %}{% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static 'pages/css/style.css' %}">
</head>

<body>
  <header>
    <h1>Codemancer</h1>
    <ul class='header-nav'>
      <li><a href='http://127.0.0.1:8000/pasting/'>Paste Snippet</a></li>
      <li><a href='http://127.0.0.1:8000/list_snips/'>List Snips</a></li>
      <li><a href='#'>User</a></li>
      <li><a href='#'>About</a></li>
    </ul>
  </header>

  <div class='side-nav'>
    <p>Tags</p>
    <ul>
      {% for l in lang %}
        <li><a href='#'>{{ l.name }}</a></li>
      {% endfor %}
    </ul>
  </div><!-- side-nav -->

  <section class='main'>
    {% block first_block %}
    {% endblock %}
  </section>

</body>

  <!-- vendor -->
  <script
  src="http://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <!-- my sheet -->

</html>
