<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1">
  <!-- vendor -->
  <!-- my sheet -->
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>

  {% block first_block %}
  {% endblock %}

</body>

  <!-- vendor -->
  <script
  src="http://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <!-- my sheet -->
  <script src="static/main.js"></script>

</html>
