{% extends 'base.html' %}

{% load static %}

{% block vendor %}
  <link rel="stylesheet" href="{% static 'pages/css/railscasts.css' %}">
  <script src="{% static 'pages/js/highlight.pack.js' %}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
{% block my_style %}
  <link rel="stylesheet" type="text/css" href="{% static 'pages/css/detail.css' %}">
{% endblock %}


{% block first_block %}
  <div id='page-head'>
    <h1>{{ snippet.title }} </h1><p>{% for tag in snippet.language.all %}{{ tag }}{% endfor %}</p>
  </div>

  <div class='code-snip' data-pk='{{ snippet.id }}'>
    <table>
      {% for line in code_lines %}
        <tr class='code-row' id='line-{{ forloop.counter }}'>
          <td class='line-number' data-line='{{ forloop.counter }}'>{{ forloop.counter }}</td>
          <td><pre class='code-pre'><code data-line='{{ forloop.counter }}'>{{ line }}</code></pre>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>


{% endblock %}



{% block second_block %}
  <form action='' method='POST' id='com-ano-form'>
    {% csrf_token %}
    <div id='comment-text'>
      {{ form.text }}
    </div>
    <div class='ano-line-nums'>
      {{ ano_form.line_begin }}
      {{ ano_form.line_end }}
    </div>
    <p><button class='com-ano-submit'>Submit</button></p>
  </form>

  <div id='comments'>
    <h2>Comments</h2>
    {% for c in comments %}
        {% if c.author %}
          <p>{{ c.author }}
        {% else %}
          <p>anon
        {% endif %}
          said</p>

          <p>{{ c.text }}</p>
    {% endfor %}
  </div>
{% endblock %}

{% block other_content %}
  <form action='' method='POST' id='ano-form'>
    <div id='annotation-code'>
      {{ ano_form.code }}
    </div>
  </form>

   {% for ano in annotations %}
     <pre class='annotations' data-row='{{ ano.line_begin }}'><code>{{ ano.code }}</code></pre>
   {% endfor %}
{% endblock %}



{% block my_js %}
  <script src="{% static 'pages/js/detail.js' %}"></script>
  <script src="{% static 'pages/js/ano.js' %}"></script>
{% endblock %}
