{% extends 'base.html' %}

{% load static %}

{% block vendor %}
  <link rel="stylesheet" href="{% static 'pages/css/railscasts.css' %}">
  <script src="{% static 'pages/js/highlight.pack.js' %}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
{% block my_style %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/css/detail.css' %}">
{% endblock %}


{% block first_block %}
  <div class='code-snip' data-pk='{{ snippet.id }}'>
    <h2 class='page-title'>Code Display</h2>
    <h3>{{ snippet.title }}</h3>
    <table>
      {% for line in code_lines %}
      <tr><td class='line-number'>{{ forloop.counter }}</td><td><pre class='code-pre'><code data-line='{{ forloop.counter }}'>{{ line }}</code></pre></td></tr>
      {% endfor %}
    </table>
  </div>

  <div class='annotations'>
    {% for ano in annotations %}
      <p>{{ ano.code }}</p>
    {% endfor %}
  </div>

{% endblock %}

{% block second_block %}
  <form action='' method='POST'>
    <h3>add a comment</h3>
    {% csrf_token %}

    {{ form.text }}

    <p><button>Submit</button></p>
  </form>
  <form action='' method='POST' id='ano-form'>
    {% csrf_token %}
    <p>annotation</p>
    <div class='ano-code'>
      {{ ano_form.code }}
    </div>
    <div class='ano-line-nums'>
      {{ ano_form.line_begin }}
      {{ ano_form.line_end }}
    </div>
    <p><button class='ano-submit'>Submit</button></p>
  </form>

  <h2>Comments</h2>
  <div class='comments'>
    {% for c in comments %}
        {% if c.author %}
          <p>{{ c.author }}
        {% else %}
          <p>anon
        {% endif %}
          said</p>

          <p>{{ c.text }}</p>
    {% endfor %}
  </div>
{% endblock %}

{% block my_js %}
  <script src="{% static 'pages/js/detail.js' %}"></script>
{% endblock %}
