{% extends 'base.html' %}

{% block first_block %}
  <h2>list all code snippets</h2>

  {% for snip in snippets %}
    <!-- title -->
    <h3><a class='title' href='{% url 'code_display' pk=snip.id %}'>
        {{ snip.title }}</a></h3>

    <!-- author -->
    {% if snip.author %}
      <p>Author: {{ snip.author }},
    {% else %}
      <p>Author: Anonymous,
    {% endif %}

    <!-- language -->
    {% for lang in snip.language.all %}
      Lang: {{ lang.name }}</p>
    {% endfor %}

  {% endfor %}
{% endblock %}
