{% extends 'base.html' %}

{% load static %}

{% block my_style %}
  <link rel="stylesheet" type="text/css" href="{% static 'pages/css/list_snippets.css' %}">
{% endblock %}

{% block first_block %}


  <h2 class='page-tittle'>All Snippets</h2>

  {% for snip in snippets %}
    <div class='a-snip'>
      <a class='title' href='{% url 'snippet_detail' pk=snip.id %}'>
          <!-- title -->
          <h3>{{ snip.title }}</h3>

          <!-- author -->
          {% if snip.author %}
            <p>{{ snip.author }} {{ lang.name }}</p>
          {% endif %}
      </a>
    </div>
  {% endfor %}
{% endblock %}
