coverage==4.4.1
Django==1.11.4
django-filter==1.0.4
djangorestframework==3.6.4
Faker==0.7.3
greenlet==0.4.12
Markdown==2.6.9
mixer==5.6.6
msgpack-python==0.4.8
neovim==0.1.13
py==1.4.34
pytest==3.2.2
pytest-cov==2.5.1
pytest-django==3.1.2
python-dateutil==2.6.1
pytz==2017.2
six==1.10.0
