.first-section {
    grid-area: main;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
        'snip'
        'com'
}

.code-snip {
    grid-area: snip;

    background-color: #232323;
    color: white;

    max-width: 800px;
    overflow-x: scroll;
    padding: 10px;
}

.number-span {
    display: inline;
    color: white;
}

.hljs {
    display: inline;
}
