.first-section {
    grid-area: main;

    margin: 10px 0 0 0;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        'head'
        'snip'
        'form'
        'com'
}

#page-head {
    grid-area: head;
}

.code-snip {
    grid-area: snip;

    background-color: #232323;
    color: white;

    max-width: 800px;
    overflow-x: scroll;
    padding: 10px;
}

.code-snip h3 {
    margin: 0 0 10px 0;
}

.number-span {
    display: inline;
    color: white;
}

.hljs {
    display: inline;
}

.code-row {
    line-height: 0;
    font-size: 15px;
    font-family: monospace, monospace;
}

.annotations {
    display: none;
}


#com-ano-form {
    grid-area: form;
}
