.main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.white-object {
    background-color: white;
    color: black;
    padding: 0 0 0 10px;

    width: 50%;
    height: 180px;
    border-radius: 2px;

    margin: 20px 20px 0 0;
}

.white-object h3 {
    margin: 0;
}

.code-snip {
    color: black;
    background-color: #EEEEEE;

    grid-area: snip;

    height: 100%;
    margin: 0 20px 0 0;
}

.code-snip code {
    padding: 3px;
}

table {
    counter-reset: rowNumber;
}

table tr {
    counter-increment: rowNumber;
}

table pre {
    margin: 0;
}

table tr td pre {
    height: 20px;
}
table code:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}
