

.first-section {

    grid-area: main;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
        "head"
        "snip"

}

.page-head {
    display: flex;
}

.landing-text {
    grid-area: head;
}


.black-object {
    grid-area: head;

    background-color: black;
    width: 40%;
    height: 30%;
}

.section-section {
    grid-area: snip;
}
