


.main {
    grid-area: main;

    display: flex;
    flex-wrap: wrap;
}




.a-snip {
    background-color: white;
    margin: 10px;
    height: auto;
    width: 40%;
    color: black;
    border-radius: 2px;
    /* padding: 0 0 15px 15px; */
}

.snippet-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
