body {
    display: grid;
    grid-template-rows: 80px auto auto 40px;
    grid-template-columns: 140px 3fr;
    grid-template-areas:
        "header header"
        "side main"
        ". main"
        "footer footer";
    grid-column-gap: 10px;

    background-color: dimgrey;
    color: white;
    font-size: 15px;
}



header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

header h1 {
    margin: 0 0 0 10px;
}

.header-nav {
    margin: 0 10px 0 0;
    list-style: none;
    justify-self: end;
}

.header-nav a {
    color: black;
    text-decoration: none;
}
.header-nav li {
    text-align: right;
}

.side-nav p {
    margin: 0 5px 10px 5px;
}
.side-nav ul {
    grid-area: side;
    margin: 0 0 0 15px;
    padding: 0;
    list-style: none;
    line-height: 18px;
}

.side-nav a {
    color: black;
    text-decoration: none;
}

.main h2 {
    margin: 10px 0 20px 0;
}

.main {
    grid-area: main;
}

.main a {
    color: black;
    text-decoration: none;
}


.main-box {
    width: 90%;
    max-width: 750px;
}

.comments {
    max-width: 750px;
}
