body {
    background-color: black;
    color: white;

    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto auto 2fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "tags snip snip"
}


header {
    background-color: white;
    color: black;

    grid-area: header;
}

.sid-tags {
    grid-area: tags;
}


.main {
    grid-area: main;

    display: flex;

    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.white-object {
    background-color: white;
    color: black;
    padding: 0 0 0 10px;

    width: 50%;
    height: 180px;

    margin: 20px 20px 0 0;

    grid-area: main;
}

.white-object h3 {
    margin: 0;
}

.second-section {
    grid-area: snip;
}

.code-snip {
    grid-area: snip;
}
