body {
    background-color: black;
    color: white;

    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto auto 2fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "tags snip snip"
}


header {
    background-color: white;
    color: black;

    font-size: 1.3em;

    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header li {
    margin: 0 10px 0 0;
    list-style: none;
    text-align: right;
}

header a {
    text-decoration: none;
    color: black;
}


.side-tags {
    margin: 0 0 0 10px;

    grid-area: tags;

}

.side-tags a {
    text-decoration: none;
}

.ul-tags {
    padding: 0;
    list-style: none;
}

.main {
    margin: 0 0 0 10px;

    grid-area: main;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.main h2 {
    margin: 10px 0 20px 0;
}


